<div class="row mb-2">
  <div class="col-sm-6">
    <h1 id="title" class="m-0 text-dark">{{ titulo | translate }}</h1>
  </div>
  <!-- /.col -->
  <div class="col-sm-6">
    <ol id="breadcrumb-list" class="breadcrumb float-sm-right">
      <li id="breadcrumb-item" *ngFor="let item of items" class="breadcrumb-item" [class.active]="isTheLastItem(item)">
        <span id="item" *ngIf="isTheLastItem(item)">
          {{ item.text | translate }}
        </span>

        <a id="last-item" *ngIf="!isTheLastItem(item)" [routerLink]="item.link">
          {{ item.text | translate }}
        </a>
      </li>
    </ol>
  </div>
  <!-- /.col -->
</div>
