<div class="container-fluid">
  <app-bread-crumb
    [titulo]="'Truck'"
    [items]="[
      { text: 'Home', link: '/' },
      { text: 'Truck', link: '/truck' },
      { text: pageTitle }
    ]"
  ></app-bread-crumb>

  <div class="row">
    <div class="col-md-12">
      <div class="card ml-2 mr-2 mb-2 mt-2">
        <form [formGroup]="formData" (ngSubmit)="submitForm($event)" (keydown.enter)="$event.preventDefault()">
          <div class="card-body">
            <ngx-spinner bdColor="rgba(0,0,0,0.3)" size="small" color="#fff" type="line-scale" [fullScreen]="false">
              <p style="color: white" translate>Loading</p>
            </ngx-spinner>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="name" class="mb-1" translate>Model</label>
                  <select
                    class="form-control"
                    formControlName="model"
                    [ngClass]="{
                      'is-invalid': formData.get('model').touched && formData.controls['model'].invalid
                    }"
                  >
                    <option value="FH">FH</option>
                    <option value="FM">FM</option>
                  </select>
                  <app-form-field-error [form-control]="formData.get('model')"></app-form-field-error>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="name" class="mb-1" translate>ModelYear</label>
                  <select
                    class="form-control"
                    formControlName="modelYear"
                    [ngClass]="{
                      'is-invalid': formData.get('modelYear').touched && formData.controls['modelYear'].invalid
                    }"
                  >
                    <option *ngFor="let year of yearModels" [ngValue]="year">{{ year }}</option>
                  </select>
                  <app-form-field-error [form-control]="formData.get('modelYear')"></app-form-field-error>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm mr-1" [disabled]="formData.invalid || submittingForm">
              <i class="far fa-save"></i> {{ 'Save' | translate }}
            </button>

            <button type="button" class="btn btn-default btn-sm" (click)="back()">
              <i class="fas fa-arrow-alt-circle-left"></i> {{ 'Back' | translate }}
            </button>
          </div>
        </form>
        <div></div>
      </div>
    </div>
  </div>
</div>
